@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Main Hero Content -->
    <div class="container px-4 mx-auto text-left bg-cover"
        style="background-image: url('images/beans-1834984_960_720.jpg')">
        <h1 class="text-center py-5" style="color:white">
            Welcome To Reservation System Restaurant
        </h1>
        <div class="my-5 text-center" style="color:blueviolet">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta voluptatem ab necessitatibus illo
            praesentium
            culpa excepturi quae commodi quaerat,
        </div>
        <div class="text-center pt-4">
                <a asp-controller="Reservations" asp-action="StepOne"
                    class="res-btn p-3 text-white">
                    Make your Reservation
                </a>
        </div>
    </div>
    <!-- End Main Hero Content -->
    <section class="px-2 py-5">
        <div class="container items-center px-8 mx-auto ">
            <div class="flex items-center">
                <div class="w-100">
                    <div class="w-100 pb-6 ">
                 
                        <h3>OUR STORY </h3>
                        <h2>Welcome</h2>
                        <p class="mx-auto">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nemo incidunt
                            praesentium, ipsum
                            culpa minus eveniet, id nesciunt excepturi sit voluptate repudiandae. Explicabo, incidunt
                            quia.
                            Repellendus mollitia quaerat est voluptas!
                        </p>
                       
                    </div>
                </div>
                <div class="w-100">
                    <div class="w-100 overflow-hidden">
                        <img src="#" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2">
        <div class="items-center px-4 mx-auto">
            <div class="flex flex-wrap items-center ">
                <div class="order-1 w-100 px-3 ">
                    <div class="w-100 ">
                        <h2 class="mb-4">About Us</h2>
                        <h2
                            class="mb-4">
                            WHY CHOOSE US?</h2>

                        <p class="mb-4">Lorem ipsum dolor sit amet
                            consectetur
                            adipisicing elit. Natus hic atque magni minus aliquam, eos quam incidunt nam iusto sunt
                            voluptates
                            inventore a veritatis doloremque corrupti. Veritatis est expedita cupiditate!</p>
                       
                    </div>
                </div>
                <div class="w-100 px-3 mb-2"><img
                        class="mx-auto"
                        src="#"
                        alt="feature image"></div>
            </div>
        </div>
    </section>
     
    <section class="pt-4 pb-2 ">
        <div class="my-2 text-center">
            <h2>Testimonial </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. soluta sapient</p>
        </div>
        <div class="grid">
            <div>
                <div class="flex justify-center">
                    <img
                        src="#" alt="image">
                </div>
                <div>
                    <h2>Food</h2>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores
                        deserunt
                        ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis
                        pariatur
                        minus consequuntur!</p>
                </div>
                <div class="flex justify-end mt-4">
                    <a href="#">John Doe</a>
                </div>
            </div>
            <div class="p-4">
                <div class="flex justify-center">
                    <img 
                        src="#">
                </div>
                <div>
                    <h2>Food</h2>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores
                        deserunt
                        ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis
                        pariatur
                        minus consequuntur!</p>
                </div>
                <div class="flex justify-end mt-4">
                    <a href="#">John Doe</a>
                </div>
            </div>
            <div class="p-4">
                <div class="flex justify-center">
                    <img
                        src="#" alt="image">
                </div>
                <div>
                    <h2>Food</h2>
                    <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores
                        deserunt
                        ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis
                        pariatur
                        minus consequuntur!</p>
                </div>
                <div class="flex justify-end mt-4">
                    <a href="#">John Doe</a>
                </div>
            </div>
        </div>
    </section>
</div>
