@using Microsoft.AspNetCore.Identity
@model IEnumerable<Menu>

@inject SignInManager<IdentityUser> SignInManager


<div class="col-md-8 align-items-center mx-auto">
@if(Model.Count() > 0)
{
        <h3 class="my-5">
            Menu
        </h3>
        @foreach (var menu in Model)
        {
            <div class="row mb-2">
                <a class="d-flex justify-content-between" asp-controller="Menus" asp-action="Get" asp-route-id="@menu.Id">
                    <div class="col-8 p-1"><p>@menu.Name</p></div>
                    <div class="col-4 p-1"><span>@menu.Price</span></div>
                </a>
             </div>
        }
}
else
{
    <div class="row">
        <span>
            No Menus Found
        </span>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="my-2">
        <a asp-controller="Menus" asp-action="Add" class="btn btn-primary px-4">Add</a>
    </div>
}

</div>