@model Category

<div class="row">
    <div class="col-md-8 align-items-center">
        <form asp-controller="Categories" asp-action="Add" method="post">
            <div class="mb-3 row">
                <div class="col-2">
                    <label asp-for="Name" class="col-form-label">Name : </label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Name" class="form-controll w-100">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-2">
                    <label asp-for="Description" class="col-form-label">Description : </label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Description" class="form-controll w-100">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-2">
                    <label asp-for="ImagePath" class="col-form-label">Image Path : </label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="ImagePath" class="form-controll w-100">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </div>
        </form>
    </div>
</div>