@model AddTAbleViewModel

<div class="col-md-8 align-items-center">
    <form asp-controller="Tables" asp-action="Add" method="post">
        <div class="mt-5">
            <div class="d-flex justify-content-between align-items-center mb-4 pb-4">
                <h3 class="">Add Table</h3>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label asp-for="Name">Name : </label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label asp-for="Status">Status : </label>
                </div>
                <div class="col-10">
                    <select asp-for="Status">
                        <option value="@TableStatus.Available">Available</option>
                        <option value="@TableStatus.Reserved">Reserved</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label asp-for="Capacity">Capacity : </label>
                </div>
                <div class="col-10">
                    <input type="number" asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <label asp-for="Location">Location : </label>
                </div>
                <div class="col-10">
                    <input type="text" asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </form>
</div>
       
    